header .header-wrap {
    box-shadow: 1px 2px 20px 0px #adadad;
}

.copyright-alt {
    font-size: 14px;
    font-family: "Calibri";
    font-weight: 300;
    color: #000;
}
@media (max-width: 992px){
    .reserve-section{
        width: 100%;
    }
}