div.news-detail
{
	word-wrap: break-word;
	font-weight: 300;
	font-family: "Calibri";
}
div.news-detail h1{
	font-family: 'AvenirNextCyr';
	font-weight: 800;
	margin-bottom: 30px;
}
div.news-detail img.detail_picture
{
	margin: 0 auto;
	display: table;
}
.news-date-time
{
	color:#000;
}
