.payments-block{

}

.payments-block .list-payments{
    height: 100px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.payments-block .list-payments li{
    list-style: none
}
.payments-block .list-payments li:focus,
.payments-block .list-payments li:active{
    outline: none;
    box-shadow: none ;
}
.payments-block .list-payments .slick-slide img{
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .4s;
    max-height: 101px;
}
.payments-block .list-payments .slick-slide img:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.payment-slide-arrows a i{
    font-size: 26px;
    color: #000;
}
.payment-slide-arrows a{
    padding: 10px;
    display: inline-block;
    position: absolute;
    transition: all .3s;
}
.payment-slide-arrows a:hover i{
     color: #ec4345;
}
.payment-slide-arrows .next{
    right: -50px;
    bottom: 18px;
}
.payment-slide-arrows .prev{
    left: -50px;
    bottom: 18px;
}

