.reviews-block .reviews-list{
    padding: 0;
    margin: 0;
}

.reviews-block .reviews-list li{
    list-style: none;

}
.reviews-block .reviews-list .review-item .img-block{
    border-radius: 50%;
    border: 2px solid #eee;
    width: 180px;
    height: 180px;
    margin: 0 auto  30px auto;
    overflow: hidden;
}
.reviews-block .reviews-list .review-item .content .sep {
    border-bottom: 1px  solid #ececec;
    width: 70%;
    margin: 0 auto 40px auto;
}
.reviews-block .reviews-list .review-item .content  .from-site-info{
    font-size: 24px;
    font-family: 'AvenirNextCyr';
    font-weight: 700;
    color: #252e41;
}
.reviews-block .reviews-list .review-item .content  .fio-info{
    font-weight: 400;
    font-family: 'Calibri';
    letter-spacing: .5px;
    color: #252e41;
    padding-bottom: 15px;
}
.reviews-block .reviews-list .review-item .content {
    width: 70%;
    margin: 0 auto;
}
.reviews-block .reviews-list .review-item .content .text{
    font-weight: 300;
    font-family: 'Calibri';
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;

}
.reviews-block .reviews-list {
    box-shadow: 0 0 20px 9px #f7f5f5;
    padding: 40px 40px 60px 40px;
}
.reviews-block .reviews-list .review-item{
    padding: 20px;

}


.reviews-block .slick-dots {
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 2rem 0;

    list-style-type: none;
}


.reviews-block .slick-dots li {
    margin: 0 0.25rem;
    width: 12px;
}

.reviews-block .slick-dots button {
    display: block;
    width: 11px;
    height: 11px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #d9d9d9;
    text-indent: -9999px;
}

.reviews-block .slick-dots li.slick-active button {
    background-color: #ec4345;
}

.reviews-block .slick-arrow:before{
    transition: all .3s;
}

.reviews-block .slick-arrow{
    z-index: 10;

}
.reviews-block .slick-arrow:hover:before{
    color: #ec4345;
}
.reviews-block .slick-next{
    right: 40px;
}
.reviews-block .slick-prev{
    left: 40px;

}

.reviews-block .slick-prev:before{
    content: "\f053";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 36px;
    color: #e1e1e1;
}
.reviews-block .slick-next:before{
    content: "\f054";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 36px;
    color: #e1e1e1;
}

.reviews-block .create-review-link{
    display: table;
    margin: 60px auto ;
}
