.services-list{
    width: 100%;
    margin: 0;
    padding: 0;
}
.services-list .list-sliders{
    padding: 0;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.services-list .service-item .content ul li{
    list-style: none;
    font-size: 18px;
    font-family: 'Calibri';
    color: #000;
    margin-bottom: 8px;
    position: relative;
}
.services-list .service-item .content ul li:before{
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #ec4345;
    border-radius: 50%;
    top: 7px;
    left: -36px;
}

.services-list .service-item .content ul li:last-child{
    margin-bottom: 0;
}

.services-list .service-item  .right .content-wrap{
    padding-right: 77px;
}
.services-list .service-item  .left .content-wrap{
    padding-left: 77px;
}
.services-list .service-item .content ul{
    margin: 0;
    padding: 0 0 0 36px;

}
.services-list .service-item  .slider-wrapper{
    height: 600px;
}
.services-list .service-item .title a,
.services-list .service-item .title{
    font-size: 48px;
    color: #000;
    font-weight: 700;
    font-family: 'AvenirNextCyr';
    margin-top: 0;
    margin-bottom: 35px;
    text-align: left;
    transition: all .3s;
}
.services-list .service-item .title a:hover{
    color: #ec4345;
    text-decoration: none;
}



.services-list li{
    list-style: none;
}

.services-list .right  .list-sliders{
    left: 0;
}
.services-list .left  .list-sliders{
    right: 0;
}



.services-section .right .services-slide-arrows{
    left: 30px;
}
.services-section .left .services-slide-arrows{
    right: 30px;
}



.services-section .services-slide-arrows a:hover{
    text-decoration: none
}

.services-section .services-slide-arrows a i{
    font-size: 16px;
    color: #000;
    transition: all .3s;
}
.services-section .services-slide-arrows a:hover i{

    color: #ec4345!important
}
.services-section .services-slide-arrows a{
    display: inline-block;
    padding: 10px;
    line-height: .6;
}
.services-section .services-slide-arrows{
    position: absolute;
    bottom: 30px;
    z-index: 2;
    background-color: #fff;
    padding: 0;
}

